.dropdown :hover {
    color: #f1652b;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    border-top: 7px solid #f1642c;
    padding-right: 15px;
    padding-left: 15px;
    color: #f1652b;

}
.maa{
    background-color: #0b1e42;
}
a{
    text-decoration: none;
}
.dad{
    background-color: #a6c7e6;
}
.hom{
    background-color:  rgb(63, 179, 65);
}