.hallo {
    background-image: url(aarti-home-chairman-speech-parallax.jpg);
    height: 550px;
}

.dropdown :hover {
    color: #f1652b;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    border-top: 7px solid #f1642c;
    padding-right: 15px;
    padding-left: 15px;
    color: #f1652b;

}

a {
    text-decoration: none;

}
.hotal:hover{
    display: block;
    border-top: 7px solid #f1642c;
    padding-right: 15px;
    padding-left: 15px;
    color: #f1652b;

}
.car {
    background-image: url(cst12.jpg);
    height: 450px;
}
.box1 {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
    border-style: none;
}

.box1:hover {
    transform: scale(1.1);
    z-index: 2;
}
.hom{
    background-color:  rgb(63, 179, 65);
}
