.hallo {
    background-image: url(Slider_Bio.jpg);
    height: 530px;
}

.dropdown :hover {
    color: #f1652b;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    border-top: 7px solid #f1642c;
    padding-right: 15px;
    padding-left: 15px;
    color: #f1652b;

}
.jan{
    background-color: #0d6efd;
}
.hom{
    background-color:  rgb(63, 179, 65);
}
a{
    text-decoration: none;
}