.hallo {
    background-image: url(about.jpg);
    height: 500px;
}

.dropdown :hover {
    color:  #f1652b;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    border-top: 7px solid #f1642c;
    padding-right: 15px;
    padding-left: 15px;
    color: #f1652b;

}
.main-menu-three__btn {
    color: var(--adbaiz-black);
}
.thm-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: none !important;
    color: #100606;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 35px 12px;
    transition: all 0.3s linear;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
    border: 2px solid #ff9835;
}
.thm-btn:hover{
    background-color: #ff9835 ;
    color: white;
}

.abtn a{
    text-decoration: none;

}
.hom{
    background-color:  rgb(63, 179, 65);
}
a{
    text-decoration: none;
}